/*===============================================
    Google Fonts 
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

/*===============================================
    Common-CSS Design 
=================================================*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color:#000;
    scroll-behavior: smooth;
}
p,span {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
.text-highlight {
    color:#ff7214;
}
.hero-button {
    background: #ff7214;
    color: #fff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 25px;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 42px;
    font-weight: 700;
    color: #112e41;
    margin-top: 15px;
}

.section-title span {
    color: #ff7214;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
/*===============================================
    Header-Area 
=================================================*/
header.header-area {
    background: #f7f7f7;
    padding-top: 30px;
}
.navigation {
    padding-right: 80px;
}
.navigation ul {
    display: flex;
    list-style: none;
    justify-content: end;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li:first-child {
    margin-left: 0;
}
.navigation ul li a {
    text-decoration: none;
    color: #323541;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

/*===============================================
    Banner-Area 
=================================================*/
.banner-area {
    background-image: url("../img/Banner-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}
.banner-text span {
    color: #ff7214;
    font-size: 18px;
    font-weight: 500;
}

.banner-text h1 {
    font-size: 60px;
    color: #112e41;
    font-weight: 600;
    padding: 10px 0;
    width: 80%;
}

.banner-text p {
    color: #888888;
    font-size: 15px;
    font-weight: 500;
    width: 80%;
}

/*===============================================
    About-Area 
=================================================*/
.about-area {
    background-image: url('../img/About-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 40px;
    margin-top: 90px;
    padding-bottom: 90px;
}
.about-content {
    padding: 0px 40px;
}
.about-content span {
    color: #ff7214;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}

.about-content h2 {
    font-size: 42px;
    color: #112e41;
    font-weight: 700;
    padding: 15px 0;
}

.about-content h5 {
    color: #112e41;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
}

.about-content p {
    color: #888888;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about-image1 img {
    margin-left: -40px;
    width: 335px;
    margin-top: 22px;
}
.about-image2 img {
    width: 280px;
    margin-top: -20px;
}
.about-image2 h2 {
    color: #233646;
    font-size: 32px;
    font-weight: 700;
    margin-top: 35px;
}

/*===============================================
    Feature-Area 
=================================================*/
.features-area {
    padding-bottom: 60px;
}
.single-feature {
    text-align: center;
    border: 3px solid #f7f7f7;
    padding: 20px;
    /* transition: .5s; */
}
.single-feature:hover {
    box-shadow: 3px 3px 8px #eaeaea;
    border: 3px solid transparent;
}
.single-feature .img {
    background: #ffeee2;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
.single-feature .img {
    background: #ffeee2;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

.single-feature h3 {
    font-size: 22px;
    color: #233646;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 12px;
}
.single-feature p {
    font-size: 15px;
    color: #888888;
    font-weight: 400;
    width: 90%;
}

/*===============================================
    Work-Area 
=================================================*/
.work-area {
    padding:60px 0;
}
.work-image img {
    width: 100%;
}
.work-content {
    padding-left: 95px;
    padding-right: 30px;
}

.work-content span {
    color: #ff7214;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

.work-content h3 {
    color: #112e41;
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0;
}

.work-content p {
    font-size: 15px;
    color: #888888;
    font-weight: 400;
    width: 90%;
}
button.work-button {
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    background: none;
    font-weight: 600;
    color: #112e41;
    margin-top: 10px;
}

/*===============================================
    Overview-Area CSS Design
=================================================*/

section.overview {
    background-color: #162b45;
    color: #fff;
    padding: 60px 0;
}

.single-overview img {
    margin-bottom: 25px;
}
.single-overview-content {
    display: flex;
}

.single-overview-content h2 {
    margin-right: 20px;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
}

.single-overview-content h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
}


/*===============================================
    Testimonial-Area CSS Design
=================================================*/
.Testimonial-area {
    padding:60px 0;
}
.testimonial-image img {
    width: 100%;
}
.client-reaview {
    padding-left: 35px;
}
.client-reaview p {
    color: #888;
    font-size: 18px;
    font-weight: 400;
}
.client-reaview img {
    max-width: 100%;
    margin-bottom: 25px;
}
.client-info {
    display: flex;
    margin-top: 40px;
}

.client-logo {
    margin-right: 65px;
}


/*===============================================
    Team-Area CSS Design
=================================================*/
.team-area {
    padding:60px 0;
}
.single-team {
    border: 3px solid #f6f7fb;
    padding: 12px;
    text-align:center;
}
.single-team img {
    width: 100%;
}
.single-team h3 {
    font-size: 22px;
    font-weight: 600;
    color: #162b45;
    margin-top: 25px;
}

.single-team p {
    font-size: 15px;
    color: #888888;
    font-weight: 400;
}
.team-social-icon ul {
    display: flex;
    color:#888;
}

.team-social-icon ul li {
    padding-right: 40px;
}

.team-social-icon ul li a {
    text-decoration: none;
    color: #888;
}
.team-social-icon ul li:first-child {
    list-style: none;
}

/*===============================================
    Blog-Area CSS Design
=================================================*/
.blog-area {
    padding:60px 0;
}
.single-blog {
    border: 3px solid #f6f7fb;
}
article.single-blog img {
    width: 100%;
    margin-bottom: 15px;
}

article.single-blog span {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}

.single-blog h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 16px 0;
    color: #112e41;
}
.blog-content {
    padding: 15px;
}
.blog-feadback {
    display: flex;
    padding-top:5px;
}
.blog-feadback p {
    padding-right: 50px;
    color: #888;
}
.blog-feadback p i {
    color: #ff7e34;
    margin-right: 5px;
}

/*===============================================
    Contact-Area CSS Design
=================================================*/
.contact-us-area {
    padding:60px 0;
}
.contact-info span {
    color: #ff7214;
    text-transform: uppercase;
    font-weight: 500;
}
.contact-info h3 {
    font-size: 30px;
    font-weight: 700;
    color: #112e41;
    padding: 20px 0;
    width: 90%;
    margin-bottom: 20px;
}
.location {
    display: flex;
    align-items: center;
}
.location img {
    max-width: 100%;
}
.location p {
    padding-left: 15px;
    padding-top: 10px;
    margin: 0;
}
.phone {
    display: flex;
    align-items: center;
}
.phone p {
    padding-left: 15px;
    padding-top: 8px;
    margin: 0;
}
.email {
    display: flex;
    align-items: center;
}

.email p {
    padding-top: 8px;
    padding-left: 15px;
    margin: 0;
}
.contact-form input,textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #e5e6ea;
    outline: none;
}
.contact-button {
    text-align: center;
    padding-top: 10px;
}

/*===============================================
    Brand-Area CSS Design
=================================================*/
.brand-area {
    padding: 70px 0;
}
.brand {
    text-align: center;
}
.brand img {
    max-width: 100%;
}
.owl-controls {
    display: none;
}
/*===============================================
    Footer Top CSS Design
=================================================*/
section.footer-top {
    background-color: #162b45;
    color: #fff;
    padding: 50px 0;
}
.footer-logo img {
    margin-bottom: 25px;
}
.footer-logo p {
    color: #999999;
    line-height: 2;
}
.footer-service h2 {
    font-size: 22px;
    font-weight: 600;
    padding-left: 26px;
    margin-bottom: 18px;
}
.footer-service ul li {
    list-style: none;
    margin-bottom: 7px;
    color: #999;
    font-weight: 400;
}
.instagram-feed h2 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 18px;
}
.contact-information h2 {
    font-size: 22px;
    margin-bottom: 18px;
}
.footer-location address {
    padding-left: 20px;
    color:#999;
}
.footer-location img {
    margin-left: -22px;
    margin-right: 4px;
}
.footer-phone img {
    margin-right: 8px;
}
.footer-image img {
    margin-right: 8px;
}
.footer-phone p {
    color: #999;
}
.footer-image p {
    color: #999;
}

/*===============================================
    Footer CSS Design
=================================================*/

footer.footer-area {
    background: #10233a;
    color: #fff;
    padding: 18px 0;
    text-align: center;
}